@model ContosoUniversity.Models.SchoolViewModels.EnrollmentVM

@{
    ViewData["Title"] = "Enrollment";
    PaginatedList<Enrollment> paged = ViewBag.enroll;
}

<style>
    table{
        margin-top: 20px;
    }

    .table a{
    text-decoration: none;
    }
    
    h2{
        margin-bottom: 20px;
    }

    .tbl{
        display: flex;
        gap: 1rem;
    }

    .box{
        display: flex;
        gap: 1rem;
        margin-bottom: 10px;
    }
</style>
@*<select name="searchGrade" asp-items="Html.GetEnumSelectList<Grade>()">*@
<h2>Contoso University - Enrollments</h2>
<form asp-action="IndexProses" asp-antiforgery="true" method="get">
        <h4>Search By</h4>
        <div class="box">
            <div class="search">
                <label asp-for="Grade"></label>
                <select name="searchGrade" asp-items="Html.GetEnumSelectList<Grade>()">
                    <option selected="selected">@ViewData["CurrentFilter"]</option>
                </select>
                <br />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            
            <div class="search">
                <label asp-for="Course"></label>
                <input name="Course" type="text" value="@ViewData["CurrentFilter2"]"/>
                <br />
                <span asp-validation-for="Course" class="text-danger"></span>
            </div
            
            ><div class="search">
                <label asp-for="Student"></label>
                <input name="Student" type="text" value="@ViewData["CurrentFilter3"]"/>
                <br />
                <span asp-validation-for="Student" class="text-danger"></span>
            </div>
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
</form>

<div class="tbl">
    <a asp-action="Create" class="btn btn-primary">Create New [+]</a>
    <a asp-action="Index" class="btn btn-info text-white">Back to List</a>
</div>

<table class="table table-hover">
    <thead>
        <tr class="table-light">
            <th>
                <a asp-action="IndexProses" asp-route-sortOrder="@ViewData["GradeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentFilter2="@ViewData["CurrentFilter2"]" asp-route-currentFilter3="@ViewData["CurrentFilter3"]">Grades</a><span class="e-icons e-chevron-up-fill"></span>
            </th>
            <th>
                <a asp-action="IndexProses" asp-route-sortOrder="@ViewData["CourseSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentFilter2="@ViewData["CurrentFilter2"]" asp-route-currentFilter3="@ViewData["CurrentFilter3"]">Courses</a><span class="e-icons e-chevron-up-fill"></span>
            </th>
            <th>
                <a asp-action="IndexProses" asp-route-sortOrder="@ViewData["StudentSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentFilter2="@ViewData["CurrentFilter2"]" asp-route-currentFilter3="@ViewData["CurrentFilter3"]">Students</a>
            </th>
            <th>Opsi</th>
        </tr>
    </thead>
    <tbody class="opsi">
@foreach (var item in paged) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstMidName)
                @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>
            <td>
                <a class="btn btn-warning text-white" asp-action="Edit" asp-route-id="@item.EnrollmentID">Edit</a> |
                <a class="btn btn-info text-white" asp-action="Details" asp-route-id="@item.EnrollmentID">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.EnrollmentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !paged.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !paged.HasNextPage ? "disabled" : "";
}

<a asp-action="IndexProses"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-sortOrder="@ViewData["StudentSortParm"]"
   asp-route-sortOrder="@ViewData["CourseSortParm"]"
   asp-route-sortOrder="@ViewData["GradeSortParm"]"
   asp-route-pageNumber="@(paged.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-currentFilter2="@ViewData["CurrentFilter2"]"
   asp-route-currentFilter3="@ViewData["CurrentFilter3"]"
   class="btn btn btn-dark @prevDisabled">
    Previous
</a>
<a asp-action="IndexProses"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-sortOrder="@ViewData["StudentSortParm"]"
   asp-route-sortOrder="@ViewData["CourseSortParm"]"
   asp-route-sortOrder="@ViewData["GradeSortParm"]"
   asp-route-pageNumber="@(paged.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-currentFilter2="@ViewData["CurrentFilter2"]"
   asp-route-currentFilter3="@ViewData["CurrentFilter3"]"
   class="btn btn btn-dark @nextDisabled">
    Next
</a>
