@model ContosoUniversity.Models.SchoolViewModels.CourseVM

@{
    ViewData["Title"] = "Courses";
    PaginatedList<Course> paged = ViewBag.courses;
}

<style>
    table{
        margin-top: 20px;
    }

    .table a{
    text-decoration: none;
    }
    
    h2{
        margin-bottom: 20px;
    }

    .tbl{
        display: flex;
        gap: 1rem;
    }

    .box{
        display: flex;
        gap: 1rem;
        margin-bottom: 10px;
    }
</style>

<h2>Contoso University - Courses</h2>
<form asp-action="IndexProses" asp-antiforgery="true" method="get">
        <h4>Search By</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="box">
            <div class="search">
                <label asp-for="Title"></label>
                <input name="Title" type="text" value="@ViewData["CurrentFilter"]"/>
                <br />
            </div>
            
            <div class="search">
                <label asp-for="CreditFrom"></label>
                <input name="CreditFrom" type="number" value="@ViewData["CurrentFilter2"]"/>
                <br />
                <span asp-validation-for="CreditFrom" class="text-danger"></span>
            </div>
            
            <div class="search">
                <label asp-for="CreditUntil"></label>
                <input name="CreditUntil" type="number" value="@ViewData["CurrentFilter3"]"/>
                <br />
                <span asp-validation-for="CreditUntil" class="text-danger"></span>
            </div>
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
</form>

<div class="tbl">
    <a asp-action="Create" class="btn btn-primary">Create New [+]</a>
    <a asp-action="Index" class="btn btn-info text-white">Back to List</a>
</div>

<table class="table table-hover">
    <thead>
        <tr class="table-light">
            <th>
                <a asp-action="IndexProses" asp-route-sortOrder="@ViewData["TitleSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentFilter2="@ViewData["CurrentFilter2"]" asp-route-currentFilter3="@ViewData["CurrentFilter3"]">Title</a>
            </th>
            <th>
                <a asp-action="IndexProses" asp-route-sortOrder="@ViewData["CreditSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-currentFilter2="@ViewData["CurrentFilter2"]" asp-route-currentFilter3="@ViewData["CurrentFilter3"]">Credits</a>
            </th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody class="opsi"> 
@foreach (var item in paged) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                <a class="btn btn-warning text-white" asp-action="Edit" asp-route-id="@item.CourseID">Edit</a> |
                <a class="btn btn-info text-white" asp-action="Details" asp-route-id="@item.CourseID">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CourseID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !paged.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !paged.HasNextPage ? "disabled" : "";
}


<a asp-action="IndexProses"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-sortOrder="@ViewData["TitleSortParm"]"
   asp-route-sortOrder="@ViewData["CreditSortParm"]"
   asp-route-pageNumber="@(paged.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-currentFilter2="@ViewData["CurrentFilter2"]"
   asp-route-currentFilter3="@ViewData["CurrentFilter3"]"
   class="btn btn btn-dark @prevDisabled">
    Previous
</a>
<a asp-action="IndexProses"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-sortOrder="@ViewData["TitleSortParm"]"
   asp-route-sortOrder="@ViewData["CreditSortParm"]"
   asp-route-pageNumber="@(paged.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-currentFilter2="@ViewData["CurrentFilter2"]"
   asp-route-currentFilter3="@ViewData["CurrentFilter3"]"
   class="btn btn btn-dark @nextDisabled">
    Next
</a>
